
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Manuel Maldonado</mat-card-title>
      <mat-card-subtitle> Entrenador pokemon </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://previews.123rf.com/images/yupiramos/yupiramos1705/yupiramos170514531/77987158-dise%C3%B1o-gr%C3%A1fico-del-ejemplo-del-vector-del-icono-del-perfil-del-hombre-joven.jpg">
    <mat-card-content>
      <p>
        manypark@live.com
      </p>
      <p>
        Ing. Sistemas Computacionles
      </p>
      <p>
        26 años
      </p>
      <p>
        Hombre
      </p>
      <p>
        <strong> Hobbies: </strong> ver series, estudiar, gym, salir a restaurantes nuevos
      </p>
      <img class="example-card" src="https://i.pinimg.com/originals/4b/40/e0/4b40e0262ceacce3a12cae4a250eba0d.jpg">
    </mat-card-content>
  </mat-card>
  