.example-card {
    max-width: 400px;
    display :block;
    margin  : 50px auto;
}
  
.example-header-image {
    background-image: url('https://previews.123rf.com/images/yupiramos/yupiramos1705/yupiramos170514531/77987158-dise%C3%B1o-gr%C3%A1fico-del-ejemplo-del-vector-del-icono-del-perfil-del-hombre-joven.jpg');
    background-size: cover;
}